.question {
    border: 2px solid black;
    border-radius: 15px;
    padding: 4px;
}

.optionInput {
    border: 1px solid black;
    border-radius: 15px;
    padding: 4px;
    margin-top: 5px;
    margin-bottom: 8px;
}

.choiceWrap {
    padding: 10px;
    margin: 10px;
}

.radOpt {
    vertical-align: bottom;
}

.option {
    vertical-align: middle;
}

.error {
    color: red;
}