#quizName {
    border: 2px solid black;
    border-radius: 10px;
}

#quizForm {
    padding: 20px;
    text-align: left;
    flex-grow: 1;
}

#addQuest, #quizSub, #remQuest {
    flex-grow: 1;
    margin: 0 2%;
    height: 100%;
    text-align: left;
    font-size: 1em;
}

#categories {
    border: 2px solid #06D6A0;
    border-radius: 7px;
    max-width: fit-content;
}

#description {
    border: 1px solid #06D6A0;
    border-radius: 7px;
    padding: 4px;
    width: 75%;
    height: 100px;
    font-size: 15px;
}

#desc-box {
    margin: 20px;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}

#maxMsg {
    font-size: smaller;
}

.yellowButtonTwo {
    box-shadow: 6px 6px#F35C5C;
    background-color: #FFD166;
    font-family: 'Avenir';
}

.redButton {
    background-color: #F35C5C;
    box-shadow: 6px 6px #FFD166;
}

.yellowButtonTwo:hover, .redButton:hover, .yellowButtonTwo:focus-within, .redButton:focus-within, .greenButton:hover, .greenButton:focus-within {
    box-shadow: 6px 6px #06D6A0;
    cursor: pointer;
}

.questionFormButtons {
    height: 60px;
    display: flex;
}

.questionFormButtons>* {
    font-family: 'Avenir';
}

.pageWrap {
    display: inline-flex;
    width: 98%;
    flex-direction: column;
}

.buttonWrap {
    height: fit-content;
}

.shaker {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
}

.homeNavCreate {
    margin: 20px;
    padding: 10px 80px 10px 10px;
    border: 1px solid black;
    color: black;
    font-size: 1em;
    text-decoration: none;
    font-family: 'Avenir';
    font-weight: 500;
}

.formWrap {
    flex-grow: 1;
    padding: 10px;
}

#createCorner {
    margin-block-end: .4em;
}

#createHeader {
    display: flex;
    flex-direction: column;
}

.createWrap {
    display: flex;
    flex-direction: column;
}

#private {
    display: none;
}

label {
    cursor: pointer;
}

#private+label:before {
    border: 1px solid #333;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 0 .25em 0 0;
    padding: 0;
    vertical-align: top;
    width: 16px;
    box-shadow: 3px 3px #06D6A0;
    background: #FFD166;
}

#private:checked+label:before {
    color: #333;
    content: "\2714";
    text-align: center;
}

#privateLabel {
    font-weight: bold;
}

@media only screen and (min-width:550px) {
    .createWrap {
        flex-direction: row;
        flex-basis: content;
    }
}

@media only screen and (min-width:1100px) {
    #quizForm {
        padding: 20px 15%;
    }
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}